.header{
    /* background-image:linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#70c0dd 75%); */
    /* background: linear-gradient(to right, #373b44, #4286f4); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right,#ffffff, #6dd5fa, #ffffff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#ffffff, #9AC4E4, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    padding-top: 20px;
    overflow: hidden;
    /* height: 4rem; */
    height: 70px;
    border-bottom:1px solid #eee;
    position: relative;
    /* border-top: #999999 4px solid; */
    /* top: -20px; */
}
.header-logo{
    color:#1e90ff;
    font-size: 2rem;
    text-align: left;
}
.header-txt{
    font-size: 0.6rem;
    color: #999;
    display: inline-block;
    padding-left: 0.3rem;
}
.ant-meu{
    line-height: 2.8rem;
}
.ant-menu-item{
    font-size:1rem !important;
    padding-left:1rem;
    padding-right:1rem;
}
.memu-div{
  text-align: right;
}
.header .ant-menu-horizontal{
  border-bottom: none;

}
.blog-title{
  padding-top: 8px;
}
.header .ant-menu{
  background-color: transparent;
}

.header .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  height: 40px;
  background-color: transparent;
}


@media only all and (max-width: 768px){
  .header{
    height: 5rem;
    padding-top: .5rem;
    text-align: center;
  }
   .header-logo{
     padding-left: 40px;
     text-align: center;
    display: block;
  }
   .header-txt{
     padding-left: 40px;
    display: block;
  } 
}