.wrap{
  position: relative;
}

.aperture{
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  display: inline-block;
  border-radius: 50%;
  /* animation: 5s linear 0s normal none infinite aperture; */
  position: absolute;
  left: 50%;
  top: 50%;
}