.ant-tabs-nav .ant-tabs-tab{
  margin: 0 25px;
}
.home-tab p{
  /* padding-left: .9375rem; */
  /* padding-left: .625rem; */
  
  text-align: center;
}
.home-tab .text{
  color:#999 ;
}
.home-tab .qq-tips{
  font-size: .625rem;
  /* padding-left: 6.25rem; */
  color: #1890ff;
  
}

.home-tab a{
  text-decoration: none;
  padding-bottom: 6px;
}


.home-tab a:hover {
  color:#1890ff;
  text-decoration: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='blue' stroke='%23ff3300' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
  background-size: 20px auto;
  animation: waveMove 1s infinite linear;
}


@keyframes waveMove {
  from {
      background-position: 0 100%;
  }
  to {
      background-position: -20px 100%;
  }
}


.tab-h{
  font-size: 30px;
  text-align: center;
}