.ad-div{
    margin-top: .5rem;
    padding: 0;
}
.ad-div div{
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
}

.ad-img{
  padding: 20vh 0;
}

.ad-div img{
  /* padding: 5vh 0; */
}